Backups

DAERS.API/obj/Debug/netcoreapp2.1/DAERS.API.csprojAssemblyReference.cache
DAERS.API/obj/Debug/netcoreapp2.1/DAERS.API.csprojAssemblyReference.cache
DAERS.API/obj/Debug/netcoreapp2.1/DAERS.API.csprojAssemblyReference.cache
DAERS.API/bin/Debug/netcoreapp2.1/DAERS.API.dll
DAERS.API/bin/Debug/netcoreapp2.1/DAERS.API.pdb
DAERS.API/obj/Debug/netcoreapp2.1/DAERS.API.assets.cache
DAERS.API/obj/Debug/netcoreapp2.1/DAERS.API.csprojAssemblyReference.cache
DAERS.API/obj/Debug/netcoreapp2.1/DAERS.API.dll
DAERS.API/obj/Debug/netcoreapp2.1/DAERS.API.pdb
